[submodule "MODULE"]
	path = MODULE
	url = https://github.com/Ryan892000/MODULE.git
[submodule "REPORT"]
	path = REPORT
	url = https://github.com/Ryan892000/REPORT.git
[submodule "DOCUMENT"]
	path = DOCUMENT
	url = https://github.com/Ryan892000/DOCUMENT.git
[submodule "LIBRARYREPS"]
	path = LIBRARYREPS
	url = https://github.com/Ryan892000/LIBRARYREPS.git
